html,
body,
#__next {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.altColor {
  color: #ffcdb2;
}

.landing-wrap {
  width: 100%;
  z-index: 100;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url("../public/img/landing_2040.jpg");
}

.extra-black-vignette {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.75));
}

h1 {
  font-size: 2.5em;
  text-shadow: 0 0 2vh black;
}

h1.landing {
  margin: -40px 0;
  font-size: 4vw;
  z-index: 1;
}

.landing-wrap .landing-date {
  z-index: 1;
  font-size: 1.5em;
  letter-spacing: 8px;
  margin-top: 30px;
  text-shadow: 0 0 2vh black;
}

.nav-wrap {
  top: 0;
  left: 50%;
  z-index: 2;
  width: 100%;
  height: 10vh;
  display: flex;
  position: absolute;
  letter-spacing: 8px;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1em;
  transform: translateX(-50%);
  background: url("../public/img/menu_border_bottom.png") no-repeat center
    bottom;
}

.nav-wrap.relative {
  position: relative;
  left: 0;
  transform: initial;
}

.nav-wrap a {
  z-index: 1;
  margin: 20px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.nav-wrap a:hover {
  font-size: 17px;
}

.landing-top {
  letter-spacing: 12px;
}

.landing-bottom {
  margin-top: 20px;
  letter-spacing: 10px;
}

.landing-banner {
  top: 50%;
}

@media screen and (max-width: 992px) {
  h1.landing {
    font-size: 1.4em;
    z-index: 1;
    line-height: 2;
    margin-top: 2.5vh;
    margin-bottom: 10px;
    text-align: center;
  }

  .landing-wrap .landing-bottom,
  .landing-wrap .landing-top {
    font-size: 0.8em;
  }
  .landing-wrap .landing-date {
    font-size: 1em;
    font-weight: bold;
  }
}

.landing-banner {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
  font-size: 2em;
  top: calc(50% + 5vh);
}

.slider_trans_black {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 666;
  top: 0px;
  left: 0px;
  background-image: url("../public/img/trans_black.png");
  pointer-events: none;
  z-index: 1;
}
